body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

.converter {
    background-color: #110303;
    width: 320px;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
}

h1 {
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 5px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #bd1717;
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

#result {
    margin-top: 10px;
    font-size: 24px;
}
